@model IEnumerable<AppData.Models.SanPham>

@{
    Layout = "~/Views/Shared/_LayoutforAdmin.cshtml";
    ViewData["Title"] = "GetAllSanPham";
    int stt = 1;
}

<h1>GetAllSanPham</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                Ten LoaiSP
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @stt
                    @{
                        stt++;
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                    @{
                        AppData.Models.AssignmentDBContext dBContext = new AppData.Models.AssignmentDBContext();
                        var LoaiSP = dBContext.LoaiSPs.Find(item.IDLoaiSP);
                        if(LoaiSP!=null){
                            <div>
                                <strong style="color:red;">
                                    <span>
                                        @LoaiSP.Ten
                                    </span>
                                </strong>
                            </div>
                        }
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Deletes", new { id=item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
